<p>Welcome to the home page</p>

<p>This page is built using feather-rs Html.renderTo.</p>

<code>
	<pre>
public class PrimaryView implements View{

	View content;
	View sidebar;
	
	public PrimaryView(View content) {
		this.content = content;
		this.sidebar = new SidebarView();
	}
	
	@Override
	public void render(Html html) throws Exception {
		html.load(PrimaryView.class.getClassLoader().getResourceAsStream("/theme/index.html"));
		html.renderTo("#content",content);
		html.renderTo("#sidebar",sidebar);
	}
		
}


class SidebarView implements View
{
	@Override
	public void render(Html html) throws Exception {
		
		html.load(PrimaryView.class.getResourceAsStream("sidebar.html"));
		
		DateFormat df = DateFormat.getDateTimeInstance();
		html.bindValue("#time", df.format(new Date()));		
	}
}

</pre>
</code>